<div>
    <label>Title</label>
    <textarea>Titeltext</textarea>
</div>
<div>
    <label>Beschreibung</label>
    <textarea>Beschreibungtext</textarea>
</div>
<div>
    <label>Wichtigkeit</label>
    <label>Sterne</label>
</div>
<div>
    <label>Erledigt bis</label>
    <textarea>datumtext</textarea>
    <button>Kalender</button>
</div>
<form action="http://localhost:3000/notes" method="post">
    <input type="submit" value="Speichern" />
    <a href="http://localhost:3000" class="cancelbutton"> Cancel </a>
</form>