<div>
    <label>Title</label>
    <textarea>Titeltext</textarea>
</div>
<div>
    <label>Beschreibung</label>
    <textarea>Beschreibungtext</textarea>
</div>
<div>
    <label>Wichtigkeit</label>
    <label>Sterne</label>
</div>
<div>
    <label>Erledigt bis</label>
    <textarea>datumtext</textarea>
    <button>Kalender</button>
</div>
<button>Speichern</button>
<button>Cancel</button>