<div>
    <label>Title</label>
    <textarea>{{note.title}}</textarea>
</div>
<div>
    <label>Beschreibung</label>
    <textarea>{{note.description}}</textarea>
</div>
<div>
    <label>Wichtigkeit</label>
    <label>{{note.importancy}}</label>
</div>
<div>
    <label>Erledigt bis</label>
    <textarea>{{note.duedate}}</textarea>
    <button>Kalender</button>
</div>
<button>Speichern</button>
<button>Cancel</button>